In [9]:
import pandas as pd
import os

In [10]:
dataset1_path = "/content/drive/MyDrive/Colab Notebooks/dataset1"
dataset2_path = "/content/drive/MyDrive/Colab Notebooks/dataset2"

In [11]:
train_dataset1 = pd.read_csv(os.path.join(dataset1_path, "train.csv"))
test_dataset1 = pd.read_csv(os.path.join(dataset1_path, "test.csv"))

In [12]:
train_dataset2 = pd.read_csv(os.path.join(dataset2_path, "train.en"), sep="\t", names=["en"])
test_dataset2 = pd.read_csv(os.path.join(dataset2_path, "tst2012.en"), sep="\t", names=["en"])

In [13]:
train_dataset2 = pd.concat([train_dataset2, train_dataset1["en"], test_dataset1["en"]], axis=0)

In [14]:
print(train_dataset2)

                                                     en  \
0     Rachel Pike : The science behind a climate hea...
1     In 4 minutes , atmospheric chemist Rachel Pike...
2     I &apos;d like to talk to you today about the ...
3     Headlines that look like this when they have t...
4     They are both two branches of the same field o...
...                                                 ...
1548                                                NaN
1549                                                NaN
1550                                                NaN
1551                                                NaN
1552                                                NaN

                                                      0
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1548  This is not a question between privacy against...
1549  It &apos;s a question of freedom against contr...
1550  And while we might trust our governments right...
1551  And do we trust , do we blindly trust , any fu...
1552  And these are the questions that we have to wo...

[267887 rows x 2 columns]

In [15]:
train_dataset2.to_csv("/content/drive/MyDrive/Colab Notebooks/dataset3/train.en", sep="\t", index=False, header=False)

In [29]:
test_dataset2 = pd.concat([test_dataset2, test_dataset1["en"]], axis=0)

In [30]:
print(test_dataset2)

                                                     en  \
0     How can I speak in 10 minutes about the bonds ...
1                        This is not a finished story .
2      It is a jigsaw puzzle still being put together .
3            Let me tell you about some of the pieces .
4     Imagine the first piece : a man burning his li...
...                                                 ...
1548                                                NaN
1549                                                NaN
1550                                                NaN
1551                                                NaN
1552                                                NaN

                                                      0
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1548  This is not a question between privacy against...
1549  It &apos;s a question of freedom against contr...
1550  And while we might trust our governments right...
1551  And do we trust , do we blindly trust , any fu...
1552  And these are the questions that we have to wo...

[6212 rows x 2 columns]

In [32]:
test_dataset2.to_csv("/content/drive/MyDrive/Colab Notebooks/dataset3/tst2012.en", sep="\t", index=False, header=False)

In [33]:
train_dataset2_vi = pd.read_csv(os.path.join(dataset2_path, "train.vi"), sep="\t", names=["vi"])
test_dataset2_vi = pd.read_csv(os.path.join(dataset2_path, "tst2012.vi"), sep="\t", names=["vi"])

In [34]:
train_dataset2_vi = pd.concat([train_dataset2_vi, train_dataset1["vi"], test_dataset1["vi"]], axis=0)

In [35]:
print(train_dataset2_vi)

                                                     vi  \
0              Khoa học đằng sau một tiêu đề về khí hậu
1     Trong 4 phút , chuyên gia hoá học khí quyển Ra...
2     Tôi muốn cho các bạn biết về sự to lớn của nhữ...
3     Có những dòng trông như thế này khi bàn về biế...
4     Cả hai đều là một nhánh của cùng một lĩnh vực ...
...                                                 ...
1548                                                NaN
1549                                                NaN
1550                                                NaN
1551                                                NaN
1552                                                NaN

                                                      0
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1548  Đây không phải là vấn_đề giữa quyền riêng_tư v...
1549     Đây là một vấn_đề giữa tự_do và sự kiểm_soát .
1550  Và trong khi chúng_ta vẫn tin_tưởng vào chính_...
1551  Và liệu chúng_ta có còn tin_tưởng , một_cách m...
1552  Đó chính là câu hỏi mà chúng_ta sẽ phải lo_lắn...

[267924 rows x 2 columns]

In [36]:
train_dataset2_vi.to_csv("/content/drive/MyDrive/Colab Notebooks/dataset3/train.vi", sep="\t", index=False, header=False)

In [37]:
test_dataset2_vi = pd.concat([test_dataset2_vi, test_dataset1["vi"]], axis=0)

In [38]:
print(test_dataset2_vi)

                                                     vi  \
0     Làm sao tôi có thể trình bày trong 10 phút về ...
1                        Câu chuyện này chưa kết thúc .
2      Nó là một trò chơi ghép hình vẫn đang được xếp .
3      Hãy để tôi kể cho các bạn về vài mảnh ghép nhé .
4     Hãy tưởng tượng mảnh đầu tiên : một người đàn ...
...                                                 ...
1548                                                NaN
1549                                                NaN
1550                                                NaN
1551                                                NaN
1552                                                NaN

                                                      0
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1548  Đây không phải là vấn_đề giữa quyền riêng_tư v...
1549     Đây là một vấn_đề giữa tự_do và sự kiểm_soát .
1550  Và trong khi chúng_ta vẫn tin_tưởng vào chính_...
1551  Và liệu chúng_ta có còn tin_tưởng , một_cách m...
1552  Đó chính là câu hỏi mà chúng_ta sẽ phải lo_lắn...

[3106 rows x 2 columns]

In [39]:
test_dataset2_vi.to_csv("/content/drive/MyDrive/Colab Notebooks/dataset3/tst2012.vi", sep="\t", index=False, header=False)